<div id="pfooter">
<p>
	<div>
	<a class="icons" href="https://github.com/{{ site.github_username }}" target="_blank">
		<i class="fa fa-github fa-2x" aria-hidden="true"></i>
	</a>	
	&nbsp;

	<a class="icons" href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
		<i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
	</a>
	&nbsp;
	
	<a class="icons" href="mailto:{{ site.email }}" target="_blank">
		<i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
	</a>
	</div>
	<div>
		<a id="copyright" href="/copyright">©albert.wtf {{ site.time | date: '%Y' }}</a>
	</div>
</p>
</div>
