/* Need this here for the centering trick */
html {
  height: 100%;
  background: rgba(0,0,0,0);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  height: 100%;
  font-family: 'Merriweather', 'Times New Roman', serif;
  letter-spacing: 0.01rem;
  line-height: 1.5em;
  margin: 0 auto;
  color: rgb(69,69,69);
  display: table;
  line-height: 1.6;
  font-size: 20px;
  text-rendering: geometricPrecision;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 0.5;
}

/* Main content */
#content {
  display: table-cell;
  vertical-align: middle;
  // Padding for mobiles and stuff
  padding: 1em;
  max-width: 34em;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#logo {
  float: left;
}

#option {
  float: right;
  text-align: center;
  text-decoration: none;
}


a {
  color: #43ABC9;
  text-decoration: none;

  &:hover {
    font-weight: bold;
  }
}

.icons {
  border-bottom: none;
}

#pfooter {
  text-align: center;
  rgin-bottom: 0em;
}

#copyright {
  font-size: 0.3em;
  color: rgba(32,32,32,0.75);
}

#highlight {
  font-weight: bold;
  background: rgba(255, 230, 0, 0.5);
  padding: 3px 5px;
  margin: -3px -5px;
  border-radius: 3px;
  display:inline-block;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.blogpic {
  height: auto;
  flex-grow: 1;
}

.caption {
  text-align: center;
}

.capContainer {
  text-align: center;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .blogpic {
    max-width: 75%;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .blogpic {
    max-width: 60%;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .blogpic {
    max-width: 45%;
  }
}

/* keyframe animations */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#main {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  -moz-animation-fill-mode: forwards;
  -moz-animation-name: fadeIn;
  -moz-animation-duration: 1s;
}

/**
 * Code formatting: -taken from github/lpan
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
