/* Linear gradient needs to span the entire background */
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    color: #262626;
    background-color: #ececee;
    font-size: 1em;
    line-height: 1.7em;
}