/* Linear gradient needs to span the entire background */
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.7em;
    color: $grey-color !important;
}

/* Overwrite Semantic's default color */
.ui.header {
    color: $grey-color;
}

/* Main div, the only div */

div#outer {
	height: 100%;
	position: relative;
	text-align: center;
}

div#inner {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	filter:alpha(opacity=60);
}

div#ramble {
	font-size: 32px;
}