<div class="pokevis_options">
    <label>Generation: </label>
    <form id="generationOption">
        <select>
        <option value="6" name="generationOption" selected> 7 </option>
        <option value="5" name="generationOption"> 6 </option>
        <option value="4" name="generationOption"> 5 </option>
        <option value="3" name="generationOption"> 4 </option>
        <option value="2" name="generationOption"> 3 </option>
        <option value="1" name="generationOption"> 2 </option>
        <option value="0" name="generationOption"> 1</option>
        </select>
    </form>
</div>
