<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="main" class="sunset">
    	<div id="outer">
			<div id="inner">
				<div class="ui text container left aligned">
		    		{{ content }}
				</div>
				<div class="ui divider"></div>
				<div class="ui three column divided grid" id="contacts">
					<div class="row">
						<div class="column">
							<a href="https://github.com/{{ site.github_username }}" target="_blank">
								<i class="fa fa-github fa-2x" aria-hidden="true"></i>
							</a>				
						</div>
						<div class="column">
							<a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
								<i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
							</a>
						</div>
						<div class="column">
							<a href="mailto:{{ site.email }}" target="_blank">
								<i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				<div>
			</div>
		</div>
    </body>
</html>